@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "WRESTLEMANIA";
  src: url("../assets/fonts/18329.ttf") format("truetype");
}

