@import "~normalize.css";
@import "roboto.css";

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: violet;
  z-index: 2;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

.preloader .loader {
  width: 75px;
  height: 75px;
  border: 10px solid white;
  border-radius: 50%;
  border-top-color: violet;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
  animation: 2s spin infinite linear;
}

.closePreloader {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
  width: 1080px;
  margin: 0 auto;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.logo {
  background-image: url("../assets/node.png");
  background-size: cover;
  height: 200px;
  width: 330px;
  margin: 0 auto;
}

#search {
  outline: none;
  border: 0;
  color: #fff;
  background-color: violet;
  font-size: 1rem;
  min-height: 40px;
  width: 100%;
  font-weight: 400;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  line-height: 0.3rem;
  padding: 1rem;
  transition: 0.5s;
  position: relative;
}
span {
  color: white;
  transition: 0.5s;
}

span:after {
  content: "\00bb";
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#search:hover span {
  padding-right: 25px;
}

#search:hover {
  background-color: #7f0691;
}

#search:hover span:after {
  opacity: 1;
  right: 0;
}

.inputCross {
  width: 100%;
  display: flex;
}
#inputArea {
  width: 1080px;
  margin: 0 auto;
  padding: 16px;
  margin-bottom: 1rem;
  outline: none;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0.3rem;
  border-radius: 1rem;
  border: 1px solid #ced4da;
}

#inputArea:focus {
  border: 1px solid violet; /* Рамка при получении фокуса */
}

.cross {
  position: absolute;
  margin-left: 1040px;
  margin-top: 18px;
  font-size: 15px;
  color: violet;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.cross:hover {
  position: absolute;
  margin-left: 1030px;
  margin-top: 11px;
  font-size: 30px;
  color: #7f0691;
}
/* #buttonArea {
  display: flex;
  justify-content: flex-end;
} */

#footer {
  display: grid;
  grid-template-columns: auto auto;
  flex-direction: row;
}

.swiper-container {
  margin-top: 12px;
  padding-top: 50px;
  height: 600px;
}

.swiper-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  background: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  flex-shrink: 0;
}

.moviePoster {
  width: 80%;
  text-align: center;
}
.movieTitle {
  font-size: 20px;
  height: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.movieYear {
  font-size: 20px;
}
